:root {
  --color-orange: #e76f51;
  --color-green: #2a9d8f;
  --color-yellow: #e9c46a;
  --dark-blue: #264653;
  --light-text: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggle__next {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .toggle__next {
    display: none;
  }
}
